<div class="card px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Gerenciamento de Quartel de Heróis</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Bem-vindo ao Quartel General de Heróis, onde você pode gerenciar e coordenar as atividades dos super-heróis mais poderosos do mundo. Nossa plataforma, construída com o poderoso Bootstrap, oferece uma maneira simples e eficaz de garantir que a justiça prevaleça. Com uma interface responsiva, recursos personalizados e uma equipe dedicada de super-heróis, você estará pronto para enfrentar qualquer desafio que surgir.</p>
    </div>
</div>
